{% extends 'students/base.html' %}
{% block title %}Courses{% endblock %}
{% block content %}
<h3>Available Courses</h3>
<div class="row">
    {% for course in courses %}
    <div class="col-md-6">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">{{ course.name }}</h5>
                <p class="card-text">{{ course.description }}</p>
                <a href="{% url 'enroll' course.id %}" class="btn btn-primary btn-sm">Enroll</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}